<app-navbar></app-navbar>

<div *ngIf="loading"
     class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-64 w-64 mx-auto p-6"></div>

<div *ngIf="!loading" class="flex flex-col divide-y md:divide-y-0">
  <div class="w-full text-center text-xl font-semibold py-6">
    <h1 class="mx-auto text-center">Coronavirus in Italia, i dati e la mappa</h1>
    <h3 class="mx-auto text-center">Dati aggiornati
      al {{this.today.data | date : 'longDate' : '+0100' : 'it' | uppercase}}. Variazioni rispetto al giorno
      precedente.</h3>
  </div>
  <div class="w-full mx-auto px-6 md:px-8">
    <div
      class="flex flex-col md:flex-row w-full md:space-x-2 space-y-2 md:space-y-0 mb-2 md:mb-4 divide-y divide-gray-300 md:divide-x md:divide-y-0">

      <div class="w-full md:w-1/4 p-4">
        <div class="flex justify-evenly h-32">
          <div class="flex flex-col items-center justify-evenly">
            <div class="text-xs uppercase">
              Nuovi Casi
            </div>
            <div class="text-4xl font-bold text-red-500">
              {{today.nuovi_positivi| number : '':'it' | positiveNegativeNumber}}
            </div>
            <div class="text-sm text-red-500">
              {{(today.nuovi_positivi / today.totale_casi) * 100 | number: '1.1-2':'it'| positiveNegativeNumber}}%
            </div>
            <div class="font-bold text-red-500">
              Totali {{today.totale_casi| number : '':'it'}}
            </div>
          </div>
        </div>
      </div>

      <div class="w-full md:w-1/4 p-4">
        <div class="flex justify-evenly h-32">
          <div class="flex flex-col items-center justify-evenly">
            <div class="text-xs uppercase">
              Morti
            </div>
            <div class="text-4xl font-bold">
              {{today.deceduti - yesterday.deceduti| number : '':'it'| positiveNegativeNumber}}
            </div>
            <div class="text-sm">
              {{((today.deceduti - yesterday.deceduti) / today.deceduti) * 100 | number: '1.1-2':'it'| positiveNegativeNumber}}
              %
            </div>
            <div class="font-bold">
              Totali {{today.deceduti| number : '':'it'}}
            </div>
          </div>
        </div>
      </div>

      <div class="w-full md:w-1/4 p-4">
        <div class="widget w-full rounded-md">
          <div class="flex justify-evenly h-32">
            <div class="flex flex-col items-center justify-evenly">
              <div class="text-xs uppercase">
                Dimessi/Guariti
              </div>
              <div class="text-4xl font-bold text-green-600">
                {{today.dimessi_guariti - yesterday.dimessi_guariti| number : '':'it'| positiveNegativeNumber}}
              </div>
              <div class="text-sm text-green-600">
                {{((today.dimessi_guariti - yesterday.dimessi_guariti) / today.dimessi_guariti) * 100 | number: '1.1-2':'it'| positiveNegativeNumber }}
                %
              </div>
              <div class="font-bold text-green-600">
                Totali {{today.dimessi_guariti| number : '':'it'}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full md:w-1/4 p-4">
        <div class="widget w-full rounded-md">
          <div class="flex justify-evenly h-32">
            <div class="flex flex-col items-center justify-evenly">
              <div class="text-xs uppercase">
                Attualmente Positivi
              </div>
              <div class="text-4xl font-bold text-red-300">
                {{today.variazione_totale_positivi| number : '':'it'| positiveNegativeNumber}}
              </div>
              <div class="text-sm text-red-300">
                {{(today.variazione_totale_positivi / today.totale_positivi) * 100| number: '1.1-2':'it'| positiveNegativeNumber}}
                %
              </div>
              <div class="font-bold text-red-300">
                Totali {{today.totale_positivi| number : '':'it'}}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="w-full mx-auto px-6 md:px-8">
    <div
      class="flex flex-col md:flex-row w-full md:space-x-2 space-y-2 md:space-y-0 mb-2 md:mb-4 md:divide-x md:divide-y-0 divide-y divide-gray-300">
      <div class="w-full md:w-1/4 p-4">
        <div class="widget w-full rounded-md">
          <div class="flex justify-evenly h-32">
            <div class="flex flex-col items-center justify-evenly">
              <div class="text-xs uppercase">
                Terapia Intesiva
              </div>
              <div class="text-4xl font-bold text-red-300">
                {{today.terapia_intensiva - yesterday.terapia_intensiva| number : '':'it'| positiveNegativeNumber}}
              </div>
              <div class="text-sm text-red-300">
                {{((today.terapia_intensiva - yesterday.terapia_intensiva) / today.terapia_intensiva) * 100| number: '1.1-2':'it'| positiveNegativeNumber}}
                %
              </div>
              <div class="font-bold text-red-300">
                Totali {{today.terapia_intensiva| number : '':'it'}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/4 p-4">
        <div class="widget w-full rounded-md">
          <div class="flex justify-evenly h-32">
            <div class="flex flex-col items-center justify-evenly">
              <div class="text-xs uppercase">
                Ricoverati Con Sintomi
              </div>
              <div class="text-4xl font-bold text-red-300">
                {{today.ricoverati_con_sintomi| number : '':'it'| positiveNegativeNumber}}
              </div>
              <div class="text-sm text-red-300">
                {{((today.ricoverati_con_sintomi - yesterday.ricoverati_con_sintomi) / today.ricoverati_con_sintomi) * 100| number: '1.1-2':'it'| positiveNegativeNumber}}
                %
              </div>
              <div class="font-bold text-red-300">
                Totali {{today.ricoverati_con_sintomi| number : '':'it'}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/4 p-4">
        <div class="widget w-full rounded-md">
          <div class="flex justify-evenly h-32">
            <div class="flex flex-col items-center justify-evenly">
              <div class="text-xs uppercase">
                Isolamento Domiciliare
              </div>
              <div class="text-4xl font-bold text-red-300">
                {{today.isolamento_domiciliare - yesterday.isolamento_domiciliare| number : '':'it'| positiveNegativeNumber}}
              </div>
              <div class="text-sm text-red-300">
                {{((today.isolamento_domiciliare - yesterday.isolamento_domiciliare) / today.isolamento_domiciliare) * 100| number: '1.1-2':'it'| positiveNegativeNumber}}
                %
              </div>
              <div class="font-bold text-red-300">
                Totali {{today.isolamento_domiciliare| number : '':'it'}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/4 p-4">
        <div class="widget w-full rounded-md">
          <div class="flex justify-evenly h-32">
            <div class="flex flex-col items-center justify-evenly">
              <div class="text-xs uppercase">
                Tamponi
              </div>
              <div class="text-4xl font-bold text-red-300">
                {{today.tamponi - yesterday.tamponi| number : '':'it'| positiveNegativeNumber}}
              </div>
              <div class="text-sm text-red-300">
                {{((today.tamponi - yesterday.tamponi) / today.tamponi) * 100| number: '1.1-2':'it'| positiveNegativeNumber}}
                %
              </div>
              <div class="font-bold text-red-300">
                Totali {{today.tamponi| number : '':'it'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="p-6 mx-auto text-center text-xl font-semibold">La mappa del coronavirus in Italia</h3>

  <app-map></app-map>
</div>
